<%- include('partials/header') -%>

<!-- Tailwind Request Form -->
<section class=" py-12 text-gray-800 sm:py-24">
  <div class="mx-auto flex max-w-md flex-col rounded-lg lg:max-w-screen-xl lg:flex-row">
    <div class="max-w-2xl px-4 lg:pr-24">
      <p class="mb-2 text-blue-600">Welcome Back</p>
      <p><strong>User Name</strong>: <%= user.userName %></p>
      <p><strong>Email</strong>: <%= user.email %></p>
      <h3 class="mb-5 text-3xl font-semibold">Sign Request Form</h3>
      <p class="mb-16 text-lg text-gray-600">Please fill out all of the details about your sign request. Any descriptions about the item will help your art team deliver a great message about the item to our customers</p>
      <div class="mb-5 flex font-medium">
        <div class="mr-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-7 w-7 text-blue-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 7.5h-.75A2.25 2.25 0 004.5 9.75v7.5a2.25 2.25 0 002.25 2.25h7.5a2.25 2.25 0 002.25-2.25v-7.5a2.25 2.25 0 00-2.25-2.25h-.75m-6 3.75l3 3m0 0l3-3m-3 3V1.5m6 9h.75a2.25 2.25 0 012.25 2.25v7.5a2.25 2.25 0 01-2.25 2.25h-7.5a2.25 2.25 0 01-2.25-2.25v-.75" />
          </svg>
        </div>
        <div class="">
          <p class="mb-2">Make Sure All Request Are Approved</p>
          <span class="font-normal text-gray-600">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum porro molestias quaerat maxime modi.</span>
        </div>
      </div>
      <div class="mb-5 flex font-medium">
        <div class="mr-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-7 w-7 text-blue-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
          </svg>
        </div>
        <div class="">
          <p class="mb-2">Please Double Check Your Due Date Before Submitting</p>
          <span class="font-normal text-gray-600">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum porro molestias quaerat maxime modi.</span>
        </div>
      </div>
      <div class="mb-5 flex font-medium">
        <div class="mr-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-7 w-7 text-blue-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
          </svg>
        </div>
        <div class="">
          <p class="mb-2">Make Sure The Price Is Up To Date</p>
          <span class="font-normal text-gray-600">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum porro molestias quaerat maxime modi.</span>
        </div>
      </div>
      <div class="flex justify-around">
        <a class="btn btn-secondary" href="/requestFeed">Return to Feed</a>
        <a class="btn btn-primary" href="/logout">Logout</a>
      </div>
    </div>

    <!-- Form Div Starts Here -->
    <div class="border border-gray-100 shadow-gray-500/20 mt-8 mb-8 max-w-md bg-white shadow-sm sm:rounded-lg sm:shadow-lg lg:mt-0">
      <div class="relative border-b border-gray-300 p-4 py-8 sm:px-8">
        <h3 class="mb-1 inline-block text-3xl font-medium"><span class="mr-4">Submit Request</span></h3>
        <p class="text-gray-600">Great Signs Are On The Way!</p>
      </div>
      <div class="p-4 sm:p-8">
        <form action="/request/createRequest" method="post">
        <!-- Request name -->
        <input id="name" type="text" id="requestName" name="requestName" class="input input-bordered input-primary w-full max-w-xs mb-4" placeholder="Request Name" />
        <!-- Price -->
        <input id="price" type="number" min="1" step="any" class="input input-bordered input-primary w-full max-w-xs mb-4" placeholder="Enter your price" name="price" />
        <!-- Due Date -->
        <div class="form-control">
          <label>Date Due</label>
          <input id="dueDate" type="date" class="input input-bordered input-primary w-full max-w-xs mb-4" placeholder="Enter the Date Due" name="dueDate" />
        </div>
          <!-- SKU Number -->
          <input id="skuNumber" type="text" class="input input-bordered input-primary w-full max-w-xs mb-4" placeholder="Enter the SKU" name="skuNumber" />
          <!-- Description Taste -->
          <textarea id="descriptionTaste" type="text" class="textarea textarea-primary w-full" name="descriptionTaste" placeholder="Please put in any descriptions that might be helpful to making this sign."></textarea>
          <!-- TODO Add Image upload option -->
          <!-- <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          </div> -->

          <!-- TODO add error alerts here -->
        <button type="submit" class="btn btn-primary btn-wide mx-auto" value="Upload">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>


<!-- Tiny Request Table -->
<div class="mx-auto max-w-xl rounded-lg lg:max-w-screen-xl pb-8">
  <div class="overflow-x-auto">
    <table class="table table-zebra w-full">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Sign Request</th>
          <th>Date Due</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <% for(var i=0; i<requests.length; i++) {%>
            
          
          <tr>
            <th><%= i+1 %> </th>
  
            <td><a href="/request/<%= requests[i]._id%>">
            <%=requests[i].requestName %> </a></td>
            <!-- Sets Date Objects -->
            <% let dueDateObj = new Date(requests[i].dueDate) %>
            <% let createdDateObj = new Date(requests[i].createdAt) %>
            
            <!-- TODO Fix due date showing up as the previous date -->
            <!-- TODO Format dates in a better way, leading 0's -->
            <% let date = `${dueDateObj.getMonth()+1}\\${(dueDateObj.getDate()+1)}\\${dueDateObj.getFullYear()}`%>
  
            <% let dateCreated = `${createdDateObj.getMonth()}\\${(createdDateObj.getDate()+1)}\\${createdDateObj.getFullYear()}` %>
  
            <td><%= date %> </td>
            <td><%= dateCreated %></td>
          </tr>
        <% } %>
        <!-- row 2 -->
        <tr>
          <th>2</th>
          <td>Test</td>
          <td>Test Row</td>
          <td>Test Row</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<%- include('partials/footer') -%>