<%- include('partials/header') -%>

<!-- Sets Date Objects -->
<% let dueDateObj = new Date(request.dueDate) %> <% let createdDateObj = new
Date(request.createdAt) %>

<!-- TODO Fix due date showing up as the previous date -->
<!-- TODO Format dates in a better way, leading 0's -->
<% let date =
`${dueDateObj.getMonth()+1}\\${(dueDateObj.getDate()+1)}\\${dueDateObj.getFullYear()}`%>
<% let dateCreated =
`${createdDateObj.getMonth()+1}\\${createdDateObj.getDate()+1}\\${createdDateObj.getFullYear()}`
%>

<div class="container">
  <div class="flex justify-center">
    <div class="block p-6 rounded-lg shadow-lg bg-white max-w-2xl">
      <!-- Split columns -->
      <div class="flex flex-col md:flex-row gap-2">
        <div class="pr-14 max-w-md">
          <div class="mb-4">
            <h5
              class="text-gray-900 text-2xl leading-tight font-semibold mb-2 uppercase"
            >
              Request Name
            </h5>
            <p class="text-gray-700 text-base mb-4">
              <%= request.requestName %>
            </p>
          </div>
          <div class="mb-4">
            <h5
              class="text-gray-900 text-2xl leading-tight font-semibold mb-2 uppercase"
            >
              Date Created
            </h5>
            <p class="text-gray-700 text-base mb-4"><%= dateCreated %></p>
          </div>
          <div class="mb-4">
            <h5
              class="text-gray-900 text-2xl leading-tight font-semibold mb-2 uppercase"
            >
              User Requested
            </h5>
            <p class="text-gray-700 text-base mb-4"><%= request.userName %></p>
          </div>
        </div>

        <div class="pr-14 max-w-md">
          <div class="mb-4">
            <h5
              class="text-gray-900 text-2xl leading-tight font-semibold mb-2 uppercase"
            >
              Price
            </h5>
            <p class="text-gray-700 text-base mb-4"><%= request.price %></p>
          </div>
          <div class="mb-4">
            <h5
              class="text-gray-900 text-2xl leading-tight font-semibold mb-2 uppercase"
            >
              Date Due
            </h5>
            <p class="text-gray-700 text-base mb-4"><%= date %></p>
          </div>
          <div class="mb-4">
            <h5
              class="text-gray-900 text-2xl leading-tight font-semibold mb-2 uppercase"
            >
              Current Status
            </h5>
            <p class="text-gray-700 text-base mb-4"><%= request.status %></p>
          </div>
        </div>
      </div>
    
      <div class="mb-4">
            <h5
              class="text-gray-900 text-2xl leading-tight font-semibold mb-2 uppercase"
            >
              Details for Sign
            </h5>
            <p class="text-gray-700 text-base mb-4"><%= request.descriptionTaste %></p>
      </div>
      <div class="flex">
        <form
          action="/request/deleteRequest/<%=request._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <a
          class="btn btn-secondary"
          href="/request/getEditPage/<%=request._id%>"
          >Edit</a
        >
      </div>
    </div>
  </div>

  <div class="col-6 mt-5">
    <a class="btn btn-primary" href="/profile">Return to Profile</a>
    <a class="btn btn-primary" href="/requestFeed">Return to Feed</a>
  </div>
</div>

<%- include('partials/footer') -%>
