<%- include('partials/header') -%>
<div class="container mx-auto my-0 h-screen">
  <h2 class="pt-4 pb-4 text-2xl">Request In the Hopper</h2>
  <div class="overflow-x-auto m-auto">
    <table class="table table-zebra w-full mb-4">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Sign Request</th>
          <th>Price</th>
          <th>User</th>
          <th>Date Due</th>
          <th>Date Created</th>
          <th>Status</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <% for(var i=0; i<requests.length; i++) {%>
            <% let {requestName,price,userName, status} = requests[i] %>
          
          <tr>
            <th><%= i+1 %> </th>

            <td><a href="/request/<%= requests[i]._id%>">
            <%=requestName %> </a></td>
            <td><%= requests[i].price %> </td>
            <td><%= requests[i].userName %> </td>
            <!-- Sets Date Objects -->
            <% let dueDateObj = new Date(requests[i].dueDate) %>
            <% let createdDateObj = new Date(requests[i].createdAt) %>
            
            <!-- TODO Fix due date showing up as the previous date -->
            <!-- TODO Format dates in a better way, leading 0's -->
            <% let date = `${dueDateObj.getMonth()+1}\\${(dueDateObj.getDate())}\\${dueDateObj.getFullYear()}`%>

            <% let dateCreated = `${createdDateObj.getMonth()+1}\\${createdDateObj.getDate()}\\${createdDateObj.getFullYear()}` %>

            <td><%= date %> </td>
            <td><%= dateCreated %></td>
            <td><%= requests[i].status %> </td>
            <td>
        <form
          action="/request/deleteRequest/<%=requests[i]._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
<%- include('partials/footer') -%>